{deps, [{lager, ".*",
            {git, "git://github.com/basho/lager.git", "master"}},
        {etbx, ".*",
            {git, "git://github.com/erickg/etbx.git", "master"}},
        {jiffy, ".*",
            {git, "git://github.com/davisp/jiffy.git", "master"}}]}.
{erl_opts, [{parse_transform, lager_transform}]}.
{cover_enabled, true}.

